In the paper, dataset was split to 80% and 10% training and test sets respectively. Training set was subjected to a  10-fold cross validation to assess the model robustness. 

We have 2 datasets, we will use 10-fold CV on both methods with RF classifier using sklearn cross validate.

In [7]:
df_pc = pd.read_csv("pubchem_dataset.csv",sep="\t")

In [8]:
df_pc.head()

,PubchemFP0,PubchemFP3,PubchemFP9,PubchemFP11,PubchemFP12,PubchemFP13,PubchemFP15,PubchemFP16,PubchemFP17,PubchemFP19,...,PubchemFP842,PubchemFP843,PubchemFP845,PubchemFP847,PubchemFP860,PubchemFP861,PubchemFP866,PubchemFP868,PubchemFP875,Label
0,1,0,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
X = df_pc.drop("Label",axis=1)
X.head()

,PubchemFP0,PubchemFP3,PubchemFP9,PubchemFP11,PubchemFP12,PubchemFP13,PubchemFP15,PubchemFP16,PubchemFP17,PubchemFP19,...,PubchemFP841,PubchemFP842,PubchemFP843,PubchemFP845,PubchemFP847,PubchemFP860,PubchemFP861,PubchemFP866,PubchemFP868,PubchemFP875
0,1,0,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y = df_pc["Label"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Label, dtype: int64

+ Very Important : Cross validation is applied only on TRAINING SET. Test data should be unseen to avoid DATA LEAKAGE.

+ For splitting data we will use kennard stone algorithm implemented in the paper.

In [14]:
#!pip install kennard-stone

In [19]:
# first let us try normal sklearn splitting

from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42,shuffle=True)

In [23]:
rf = RandomForestClassifier(random_state=42)

In [24]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

In [25]:
kf = KFold(n_splits=10,shuffle=True,random_state=42)

In [27]:
cv = cross_validate(rf,X_train,y_train,cv=kf,scoring=["accuracy","f1","precision","recall"])

In [30]:
cv_results = pd.DataFrame(cv)

In [32]:
cv_results.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.511666,0.044637,0.485860,0.489962,0.494874,0.510229,0.634386
score_time,10.0,0.024009,0.010465,0.019864,0.020174,0.020702,0.021350,0.053720
test_accuracy,10.0,0.873338,0.014781,0.845000,0.867500,0.873906,0.879599,0.895000
test_f1,10.0,0.916521,0.010522,0.895623,0.911928,0.915103,0.919973,0.932917
test_precision,10.0,0.897370,0.014874,0.875000,0.888294,0.894361,0.905804,0.921569
test_recall,10.0,0.936853,0.018410,0.898649,0.927526,0.944603,0.950113,0.953020

In [35]:
df_sub = pd.read_csv("subfp_dataset.csv",sep="\t")
df_sub.head()

,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP8,SubFP9,SubFP10,SubFP11,...,SubFP291,SubFP292,SubFP293,SubFP295,SubFP296,SubFP297,SubFP300,SubFP302,SubFP303,Label
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,1,0,0

In [36]:
X = df_sub.drop("Label",axis=1)
X.head()

,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP8,SubFP9,SubFP10,SubFP11,...,SubFP288,SubFP291,SubFP292,SubFP293,SubFP295,SubFP296,SubFP297,SubFP300,SubFP302,SubFP303
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0

In [38]:
y = df_sub["Label"]

In [39]:
kf = KFold(n_splits=10,shuffle=True,random_state=42)

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42,shuffle=True)

In [41]:
rf_ = RandomForestClassifier(random_state=42)

In [42]:
cv_ = cross_validate(rf_,X_train,y_train,cv=kf,scoring=["accuracy","f1","precision","recall"])

In [43]:
cv_results_ = pd.DataFrame(cv_)

In [44]:
cv_results_

   fit_time  score_time  test_accuracy   test_f1  test_precision  test_recall
0  0.425546    0.020860       0.860349  0.909677        0.875776     0.946309
1  0.395610    0.020461       0.857855  0.911076        0.895706     0.926984
2  0.366344    0.019652       0.842893  0.895522        0.865385     0.927835
3  0.359689    0.019501       0.847500  0.902087        0.869969     0.936667
4  0.358438    0.019534       0.847500  0.901454        0.880126     0.923841
5  0.359429    0.019998       0.830000  0.882353        0.847176     0.920578
6  0.349737    0.019288       0.832500  0.891761        0.881789     0.901961
7  0.356282    0.019610       0.845000  0.897690        0.874598     0.922034
8  0.352899    0.019916       0.835000  0.892157        0.863924     0.922297
9  0.353005    0.019939       0.805000  0.872549        0.844937     0.902027

In [45]:
cv_results_.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.367698,0.024114,0.349737,0.353824,0.358933,0.364680,0.425546
score_time,10.0,0.019876,0.000478,0.019288,0.019553,0.019784,0.019983,0.020860
test_accuracy,10.0,0.840360,0.015929,0.805000,0.833125,0.843946,0.847500,0.860349
test_f1,10.0,0.895633,0.011794,0.872549,0.891860,0.896606,0.901928,0.911076
test_precision,10.0,0.869939,0.015507,0.844937,0.864289,0.872284,0.879039,0.895706
test_recall,10.0,0.923053,0.013580,0.901961,0.920942,0.923069,0.927622,0.946309

In [46]:
cv_results.describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,10.0,0.511666,0.044637,0.485860,0.489962,0.494874,0.510229,0.634386
score_time,10.0,0.024009,0.010465,0.019864,0.020174,0.020702,0.021350,0.053720
test_accuracy,10.0,0.873338,0.014781,0.845000,0.867500,0.873906,0.879599,0.895000
test_f1,10.0,0.916521,0.010522,0.895623,0.911928,0.915103,0.919973,0.932917
test_precision,10.0,0.897370,0.014874,0.875000,0.888294,0.894361,0.905804,0.921569
test_recall,10.0,0.936853,0.018410,0.898649,0.927526,0.944603,0.950113,0.953020

+ Substructure fingerprints showed less better CV results than Pubchem FPs.

In [47]:
rf.fit(X_train,y_train)

RandomForestClassifier(random_state=42)

In [48]:
rf.score(X_test,y_test)

0.8301698301698301

In [49]:
from kennard_stone import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)